<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete city</title>
</head>
<body>
    <h1>Delete city</h1>
    <h2>Are you sure?</h2>

    <form th:action="@{/delete-city}" th:object="${city}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${city.name}"></td>
            </tr>
            <tr>
                <td>Area:</td>
                <td th:text="${city.area}"></td>
            </tr>
            <tr>
                <td>Population:</td>
                <td th:text="${city.population}"></td>
            </tr>
            <tr>
                <td>GDP:</td>
                <td th:text="${city.gdp}"></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td th:text="${city.country.name}"></td>
            </tr>
            <tr>
                <td>Introduce:</td>
                <td th:text="${city.introduce}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Xóa"></td>
                <td><button><a href="/" style="text-decoration: none">Thoát</a></button></td>
            </tr>
        </table>
    </form>
</body>
</html>